In [1]:
import pandas as pd
import re

Overall Purpose
- Clean and standardize raw student data for analysis.
- Ensure numeric columns are correct and usable.
- Remove duplicates and irrelevant records.
- Prepare a clean dataset for further analysis like ranking, statistics, or visualization.

In [ ]:
df = pd.read_csv("Private_data.csv")
df.head(5)

,Unnamed: 0,NAME OF THE STUDENT,UNIVERSITY,PROGRAM NAME,Specialisation,SEMESTER,Domain,GENERAL MANAGEMENT SCORE (OUT of 50),Domain Specific SCORE (OUT 50),TOTAL SCORE (OUT of 100),RANK,PERCENTILE
0,0,Camila Wood,"Stanford University, USA",B.Com,Honours,5th,Finance,50,50,100,1.0,1.000000
1,1,Alexander Thompson,"Stanford University, USA",B.Com,Financial Services,5th,Finance,50,50,100,2.0,0.993377
2,2,Liam Taylor,"Harvard University, USA",B.Com,Accounting Analytics,5th,BA,50,50,100,3.0,0.986755
3,3,Evelyn Jenkins,"Stanford University, USA",B.Com,Honours,5th,Finance,49,50,99,4.0,0.980132
4,4,Michael Jackson,"Harvard University, USA",MBA,International Business,3rd,IB,50,49,99,5.0,0.973510
5,5,Chloe Moore,"Stanford University, USA",B.Com,Honours,5th,Finance,50,48,98,6.0,0.966887
6,6,Nicholas Clark,"Harvard University, USA",MBA,International Business,3rd,IB,49,49,98,7.0,0.960265
7,7,Olivia Richardson,"Stanford University, USA",BBA,International Business,5th,IB,50,47,97,8.0,0.953642
8,8,Aiden Rivera,"Stanford University, USA",B.Com,Honours,5th,Finance,50,47,97,9.0,0.947020
9,9,Harper Turner,"Harvard University, USA",MBA,International Business,3rd,IB,49,48,97,10.0,0.940397
10,10,Madison Lee,"Stanford University, USA",BBA,Business Analytics,5th,BA,47,50,197,11.0,0.933775
11,11,Carter Hall,"Harvard University, USA",MBA,International Business,3rd,IB,50,47,97,12.0,0.927152
12,12,Mia Thomas,"Harvard University, USA",B.Com,Information Technology with Accounting Analytics,5th,BA,50,47,97,13.0,0.920530
13,13,Lucas Evans,"Oxford, UK",Intg. BBA+MBA,Financial Services,9th,Finance,49,47,96,14.0,0.913907
14,14,Abigail Bailey,"Harvard University, USA",MBA,International Business,3rd,IB,47,48,95,15.0,0.907285
15,15,Joseph Diaz,"Harvard University, USA",MBA,International Business,3rd,IB,49,46,95,16.0,0.900662
16,16,William Walker,"University of Cambridge, UK",MBA,Information Technology with Accounting Analytics,5th,BA,48,47,95,17.0,0.894040
17,17,Andrew Anderson,"University of Oxford, UK",Intg. BBA+MBA,Financial Services,9th,Finance,48,47,95,18.0,0.887417
18,18,Sophia King,"Harvard University, USA",B.Com,Information Technology with Accounting Analytics,5th,BA,48,46,94,19.0,0.880795
19,19,Avery Gonzalez,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,49,43,92,20.0,0.874172
20,20,Lily Davis,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,49,43,92,21.0,0.867550
21,21,Scarlett Cooper,"Stanford University, USA",BBA,International Business,5th,IB,49,43,92,22.0,0.860927
22,22,Grace Reed,"Stanford University, USA",BBA,International Business,5th,IB,49,43,92,23.0,0.854305
23,23,Matthew Johnson,"Harvard University, USA",MBA,International Business,3rd,IB,49,43,92,24.0,0.847682
24,24,Jackson Baker,"Stanford University, USA",BBA,International Business,5th,IB,45,47,92,25.0,0.841060

In [ ]:
file = "Private_data"
clean_tb_name = file.lower().replace(" ", "_").replace("?", "")\
.replace(r"/", "").replace("\\", "").replace("-", "_")\
.replace(")", "").replace("(", "").replace("%", "").replace(r",", "")

Converts the file name into a safe, standardized format (all lowercase, underscores instead of spaces, removes special characters).

Prevents issues with saving/loading files on different systems or using them as variable names.

In [ ]:

clean_tb_name

'private_data'

In [ ]:
df.columns = [x.lower().replace(" ", "_").replace("?", "")\
.replace(r"/", "").replace("\\", "").replace("-", "_")\
.replace("%", "").replace(r",", "") for x in df.columns]

Standardizes column names (lowercase, underscores, no special characters).

Makes it easier to reference columns in code consistently, avoiding errors due to spaces or special characters.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 12 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   unnamed:_0                            151 non-null    int64
 1   name_of_the_student                   151 non-null    object
 2   university                            151 non-null    object
 3   program_name                          151 non-null    object
 4   specialisation                        151 non-null    object
 5   semester                              151 non-null    object
 6   domain                                151 non-null    object
 7   general_management_score_(out_of_50)  151 non-null    int64
 8   domain_specific_score_(out_50)        150 non-null    object
 9   total_score_(out_of_100)              151 non-null    object
 10  rank                                  151 non-null    float64
 11  percentile                            150 non-null    float64
dtypes: float64(2), int64(2), object(8)
memory usage: 14.3+ KB

Checks the types of each column and non-null counts.

Helps identify columns that need type conversion (e.g., numeric vs string) and missing data.

In [ ]:
non_numeric_rows = df[~df['total_score_(out_of_100)'].str.replace('.', '', regex=False).str.isnumeric()]

print(non_numeric_rows)

     unnamed:_0 name_of_the_student                university program_name  \
77           77         Sophia King  Stanford University, USA          MBA
86           86      Harper Jackson   Harvard University, USA          MBA
139         139        Olivia White   Harvard University, USA        B.Com

             specialisation semester domain  \
77        Digital Marketing      3rd     DM
86   International Business      3rd     IB
139      Business Analytics      5th     BA

     general_management_score_(out_of_50) domain_specific_score_(out_50)  \
77                                     38                             36
86                                     50                             22
139                                    21                              9

    total_score_(out_of_100)   rank  percentile
77                         x   78.0    0.490066
86                        -4   87.0    0.430464
139                      aaa  140.0    0.079470

Identifies rows where numeric columns (total_score_(out_of_100)) have invalid entries like x, -4, aaa.

Ensures data consistency before numeric operations; prevents errors in calculations or analysis.

In [ ]:
df['domain_specific_score_(out_50)'] = pd.to_numeric(df['domain_specific_score_(out_50)'], errors='coerce')
df['total_score_(out_of_100)'] = pd.to_numeric(df['total_score_(out_of_100)'], errors='coerce')
df['percentile'] = pd.to_numeric(df['percentile'], errors='coerce')

Forces the columns to numeric type; non-numeric entries become NaN.

Allows arithmetic and statistical operations on scores, but introduces NaN where data was invalid.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 12 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   unnamed:_0                            151 non-null    int64
 1   name_of_the_student                   151 non-null    object
 2   university                            151 non-null    object
 3   program_name                          151 non-null    object
 4   specialisation                        151 non-null    object
 5   semester                              151 non-null    object
 6   domain                                151 non-null    object
 7   general_management_score_(out_of_50)  151 non-null    int64
 8   domain_specific_score_(out_50)        149 non-null    float64
 9   total_score_(out_of_100)              149 non-null    float64
 10  rank                                  151 non-null    float64
 11  percentile                            150 non-null    float64
dtypes: float64(4), int64(2), object(6)
memory usage: 14.3+ KB

 ,

In [ ]:
df = df.drop(columns=['unnamed:_0'])

In [ ]:
duplic_rows_by_name = df.duplicated(subset='name_of_the_student')
print(df[duplic_rows_by_name])

    name_of_the_student                university   program_name  \
34         Emma Stewart  Stanford University, USA            BBA
64          Carter Hall   Harvard University, USA  Intg. BBA+MBA
73           Aria Evans  Stanford University, USA            BBA
77          Sophia King  Stanford University, USA            MBA
109         Liam Taylor   Harvard University, USA            MBA
125          Grace Hall   Harvard University, USA            MBA
127          Lily Davis  Stanford University, USA            BBA
137     Scarlett Cooper  University of Oxford, UK  Intg. BBA+MBA
138           Mia Young  Stanford University, USA            BBA
150      Abigail Bailey   Harvard University, USA            MBA

                                        specialisation semester   domain  \
34                                  Financial Services      5th  Finance
64                              International Business      3rd       IB
73                                  Financial Services      5th  Finance
77                                   Digital Marketing      3rd       DM
109  Innovation Entrepreneurship and Venture Develo...      3rd      E&I
125  Innovation Entrepreneurship and Venture Develo...      3rd      E&I
127                                 Business Analytics      3rd       IB
137                                 Business Analytics      9th  Finance
138                             International Business      5th       IB
150                             International Business      3rd       IB

     general_management_score_(out_of_50)  domain_specific_score_(out_50)  \
34                                     40                            50.0
64                                     40                            39.0
73                                     49                            27.0
77                                     38                            36.0
109                                    37                            25.0
125                                    28                            23.0
127                                    33                            14.0
137                                    15                            19.0
138                                    19                            12.0
150                                    47                            48.0

     total_score_(out_of_100)   rank  percentile
34                       90.0   32.0    0.794702
64                       79.0   65.0    0.576159
73                       76.0   69.0    0.549669
77                        NaN   78.0    0.490066
109                      62.0  110.0    0.278146
125                      51.0  126.0    0.172185
127                      47.0  128.0    0.158940
137                      34.0  138.0    0.092715
138                      31.0  139.0    0.086093
150                      95.0   15.0    0.907285

Ensures each student appears only once.

Prevents double-counting in analysis and statistics.

In [ ]:
df = df.drop_duplicates()

  ,

In [ ]:
df = df.dropna()

 ,    BBA  MBA,

In [ ]:
df = df[df['program_name'].apply(lambda x: x in ['BBA', 'MBA'])]

In [ ]:
df = df.reset_index(drop=True)
df.index += 1

In [ ]:
df.head(20)

,name_of_the_student,university,program_name,specialisation,semester,domain,general_management_score_(out_of_50),domain_specific_score_(out_50),total_score_(out_of_100),rank,percentile
1,Michael Jackson,"Harvard University, USA",MBA,International Business,3rd,IB,50,49.0,99.0,5.0,0.973510
2,Nicholas Clark,"Harvard University, USA",MBA,International Business,3rd,IB,49,49.0,98.0,7.0,0.960265
3,Olivia Richardson,"Stanford University, USA",BBA,International Business,5th,IB,50,47.0,97.0,8.0,0.953642
4,Harper Turner,"Harvard University, USA",MBA,International Business,3rd,IB,49,48.0,97.0,10.0,0.940397
5,Madison Lee,"Stanford University, USA",BBA,Business Analytics,5th,BA,47,50.0,197.0,11.0,0.933775
6,Carter Hall,"Harvard University, USA",MBA,International Business,3rd,IB,50,47.0,97.0,12.0,0.927152
7,Abigail Bailey,"Harvard University, USA",MBA,International Business,3rd,IB,47,48.0,95.0,15.0,0.907285
8,Joseph Diaz,"Harvard University, USA",MBA,International Business,3rd,IB,49,46.0,95.0,16.0,0.900662
9,William Walker,"University of Cambridge, UK",MBA,Information Technology with Accounting Analytics,5th,BA,48,47.0,95.0,17.0,0.894040
10,Avery Gonzalez,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,49,43.0,92.0,20.0,0.874172
11,Lily Davis,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,49,43.0,92.0,21.0,0.867550
12,Scarlett Cooper,"Stanford University, USA",BBA,International Business,5th,IB,49,43.0,92.0,22.0,0.860927
13,Grace Reed,"Stanford University, USA",BBA,International Business,5th,IB,49,43.0,92.0,23.0,0.854305
14,Matthew Johnson,"Harvard University, USA",MBA,International Business,3rd,IB,49,43.0,92.0,24.0,0.847682
15,Jackson Baker,"Stanford University, USA",BBA,International Business,5th,IB,45,47.0,92.0,25.0,0.841060
16,Ava White,"Stanford University, USA",BBA,International Business,5th,IB,45,46.0,91.0,28.0,0.821192
17,Mia Brown,"Stanford University, USA",BBA,Financial Services,5th,Finance,41,49.0,90.0,30.0,0.807947
18,Emma Stewart,"Stanford University, USA",BBA,Financial Services,5th,Finance,40,50.0,90.0,32.0,0.794702
19,Logan Smith,"Stanford University, USA",BBA,International Business,5th,IB,45,45.0,90.0,34.0,0.781457
20,Benjamin Martin,"Harvard University, USA",MBA,International Business,3rd,IB,48,41.0,89.0,36.0,0.768212

  

    

RangeIndex: 151 entries, 0 to 150

Data columns (total 12 columns):

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 1 to 97
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   name_of_the_student                   97 non-null     object
 1   university                            97 non-null     object
 2   program_name                          97 non-null     object
 3   specialisation                        97 non-null     object
 4   semester                              97 non-null     object
 5   domain                                97 non-null     object
 6   general_management_score_(out_of_50)  97 non-null     int64
 7   domain_specific_score_(out_50)        97 non-null     float64
 8   total_score_(out_of_100)              97 non-null     float64
 9   rank                                  97 non-null     float64
 10  percentile                            97 non-null     float64
dtypes: float64(4), int64(1), object(6)
memory usage: 8.5+ KB

In [ ]:
df.to_csv('Private_data1.csv', index=False)